<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="mid-footer-wrapper u-s-p-b-80">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="footer-list">
                        <h6>Моя информация</h6>
                        <ul>
                            <li>
                                <a href="{% url 'wishlist' %}">Список желаемого</a>
                            </li>
                            <li>
                                <a href="{% url 'cart' %}">Корзина</a>
                            </li>
                            <li>
                                <a href="{% url 'me' %}">Моя страница</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="footer-list">
                        <h6>Контактная информация</h6>
                        <ul>
                            <li>
                                <a href="tel:+795366666666">
                                    <i class="fas fa-phone u-s-m-r-9"></i>
                                    <span>+7-953-666-66-66</span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:contact@domain.com">
                                    <i class="fas fa-envelope u-s-m-r-9"></i>
                                    <span> ionov@lakriz.ru</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer /- -->
