{% extends 'shop/base.html' %}
{% block title %} Корзина {% endblock title %}
{% load extra_tags %}
{% block content %}
    <!-- Cart-Page -->
    <div class="page-cart u-s-p-t-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form>
                        <!-- Products-List-Wrapper -->
                        <div class="table-wrapper u-s-m-b-60">
                            <table>
                                <thead>
                                <tr>
                                    <th>Товар</th>
                                    <th>Стоимость</th>
                                    <th>Количество</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% models_in_cart user as products %}
                                {% if products %}
                                    {% for product in products %}
                                        <tr>
                                            <td>
                                                <div class="cart-anchor-image">
                                                    <a href="{{ product.model.get_absolute_url }}">
                                                        <img src="{% main_model_image product.model %}"
                                                             alt="{{ product.model.name }}">
                                                        <h6>{{ product.model.name }}</h6>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cart-price">
                                                    {{ product.model.get_current_price }}
                                                </div>
                                            </td>
                                            <td>
                                                <form action="{% url 'add_or_remove_from_cart' product.model.id %}"
                                                      class="post-form"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="action" value="add">
                                                    <input type="hidden" name="size" value="{{ product.size.pk }}">
                                                    <div class=" cart-quantity">
                                                        <div class="quantity">
                                                            <input type="text" class="quantity-text-field"
                                                                   value="{{ product.quantity }}" name="quantity">
                                                            <a class="plus-a" data-max="1000">&#43;</a>
                                                            <a class="minus-a" data-min="1">&#45;</a>
                                                        </div>
                                                    </div>
                                                    <div class="action-wrapper">
                                                        <button class="button button-outline-secondary fas fa-sync"></button>
                                                    </div>
                                                </form>
                                            </td>
                                            <td>
                                                <div class="action-wrapper">
                                                    <form action="{% url 'add_or_remove_from_cart' product.model.id %}"
                                                          class="post-form"
                                                          method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="action" value="remove">
                                                        <button class="button button-outline-secondary fas fa-trash"></button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">
                                            <h4 class="text-center">Ваша корзина пуста</h4>
                                        </td>
                                    </tr>
                                {% endif %}

                                <tr>
                                    <td>
                                        <h3>Итоговая стоимость</h3>
                                    </td>
                                    <td>
                                        <h3 class="text-right">{% total_price_in_cart user %} р.</h3>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Products-List-Wrapper /- -->
                        <!-- Coupon -->
                        <div class="coupon-continue-checkout u-s-m-b-60">
                            <div class="coupon-area">
                                <h6>Если у Вас есть купон, укажите его.</h6>
                                <div class="coupon-field">
                                    <label class="sr-only" for="coupon-code">Применить купон</label>
                                    <input id="coupon-code" type="text" class="text-field" placeholder="Купон">
                                    <button type="submit" class="button">Применить купон</button>
                                </div>
                            </div>
                            <div class="button-area">
                                <a href="{% url 'index' %}" class="continue">Продолжить покупки</a>
                                <a href="{% url 'checkout' %}" class="checkout">Оформить заказ</a>
                            </div>
                        </div>
                        <!-- Coupon /- -->
                    </form>

                    <div class="calculation u-s-m-b-60">
                        <div class="table-wrapper-2">
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <h3 class="calc-h3 u-s-m-b-0">Итоговая стоимость</h3>
                                    </td>
                                    <td>
                                        <span class="calc-text">{% total_price_in_cart user %} р.</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Cart-Page /- -->
{% endblock content %}
